//declaracion de variables generales
$pureWhite: #fff;
$pink: #f1c9c4;
$pinkHover: #e4ada6;
$blue: #434e5b;
$gray: #efefef;
$principalFont: 'Open Sans',
sans-serif;
$noMargin: 0;
$noPadding: 0;
$prueba: 1px solid black;
$standar: all .3s ease;
$noGrid: unset;
$initial: initial;